.container{
    display: flex;
    flex-direction: row;
}

.menu-icon, .buttons{
    border: none;
    outline: none;
    background-color: white;
}

.icons{
    opacity: 0.6;
}

// .buttons{
//     opacity: 0.6;
// }