.container{
    display: flex;
    flex-direction: row;
}

.menu-icon, .buttons{
    border: none;
    outline: none;
    background-color: white;
}

.icons{
    opacity: 0.6;
}

.white{
    background-color:#FFFFFF;
}
  
.red{
    background-color:#F28B82;
  }

.orange{
    background-color:#FBBC04;
  }

.yellow{ 
    background-color:#FFF475;
   }

.green { 
    background-color:#CCFF90;
   }

.teal{
    background-color:#A7FFEB;
   }

.blue{
    background-color:#CBF0F8;
    }

.dark-blue{
    background-color:#AECBFA;
    }

.purple{
    background-color:#D7AEFB;
    }

.pink{
    background-color:#FDCFE8;
    }

.brown{
    background-color:#E6C9A8;
    }

.grey{
    background-color:#E8EAED;
}

.icon-color{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    cursor: pointer;
    padding-top: 4px;
    border: none;
  }
  
  .icon-color:hover{
    border: 1px solid black;
  }

  .colors{
      display: flex;
  }