<div class="container">
    <div *ngIf="!isTrashComponent" class="container">
        <div class="icons">
            <button class="buttons" matTooltip="Remind me">
                <img class="icon" src="../../../assets/notifications_black_24dp.svg" alt="">
            </button>
        </div>

        <div class="icons">
            <button class="buttons" matTooltip="Collaborator">
                <img class="icon" src="../../../assets/person_add_alt_black_24dp.svg" alt="">
            </button>
        </div>

        <div class="icons">
            <button class="buttons" matTooltip="Change colour" [matMenuTriggerFor]="changeColor">
                <img class="icon" src="../../../assets/palette_black_24dp.svg" alt="">
            </button>
        </div>

        <mat-menu #changeColor="matMenu">
            <div class="colors">
                <button mat-menu-item class="icon-color white" matTooltip="White"></button>
                <button mat-menu-item class="icon-color red" matTooltip="Red"></button>
                <button mat-menu-item class="icon-color orange" matTooltip="Orange"></button>
                <button mat-menu-item class="icon-color yellow" matTooltip="Yellow"></button>
            </div>

            <div class="colors">
                <button mat-menu-item class="icon-color green" matTooltip="Green"></button>
                <button mat-menu-item class="icon-color teal" matTooltip="Teal"></button>
                <button mat-menu-item class="icon-color blue" matTooltip="Blue"></button>
                <button mat-menu-item class="icon-color dark-blue" matTooltip="Dark blue"></button>
            </div>

            <div class="colors">
                <button mat-menu-item class="icon-color purple" matTooltip="Purple"></button>
                <button mat-menu-item class="icon-color pink" matTooltip="Pink"></button>
                <button mat-menu-item class="icon-color brown" matTooltip="Brown"></button>
                <button mat-menu-item class="icon-color grey" matTooltip="Grey"></button>
            </div>
        </mat-menu>

        <div class="icons">
            <button class="buttons" matTooltip="Add image">
                <img class="icon" src="../../../assets/image_black_24dp.svg" alt="">
            </button>
        </div>

        <div class="icons">
            <button class="buttons" (click)="archive()" *ngIf="!isArchiveComponent" matTooltip="Archive">
                <img class="icon" src="../../../assets/archive_black_24dp.svg" alt="">
            </button>
        </div>

        <div>
            <button class="buttons" (click)="archive()" *ngIf="isArchiveComponent" matTooltip="Unarchive">
                <img class="icons" src="../../../assets/unarchive_black_24dp.svg" alt="">
            </button>
        </div>

        <div class="icons">
            <button class="menu-icon" mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu" matTooltip="More">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>

        <mat-menu #menu="matMenu">

            <button mat-menu-item>
                <span (click)="trashNote()">Delete note</span>
            </button>

        </mat-menu>
    </div>

    <div *ngIf="isTrashComponent" fxLayout="row">
        <div class="buttons" (click)="delete()" matTooltip="Delete forever">
            <img class="icons" src="../../../assets/delete_forever_black_24dp.svg" alt="">
        </div>

        <div class="buttons" (click)="trashNote()" matTooltip="Restore">
            <img class="icons" src="../../../assets/restore_from_trash_black_24dp.svg" alt="">
        </div>
    </div>

</div>