<div class="container">
    <div class="icons">
        <button class="buttons">
            <img class="icon" src="../../../assets/notifications_black_24dp.svg" alt="">
        </button>
    </div>

    <div class="icons">
        <button class="buttons">
            <img class="icon" src="../../../assets/person_add_alt_black_24dp.svg" alt="">
        </button>
    </div>

    <div class="icons">
        <button class="buttons">
            <img class="icon" src="../../../assets/palette_black_24dp.svg" alt="">
        </button>
    </div>

    <div class="icons">
        <button class="buttons">
            <img class="icon" src="../../../assets/image_black_24dp.svg" alt="">
        </button>
    </div>

    <div class="icons">
        <button class="buttons">
            <img class="icon" src="../../../assets/archive_black_24dp.svg" alt="">
        </button>
    </div>

    <div class="icons">
        <button class="menu-icon" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
         </button>
    </div>
    
      <mat-menu #menu="matMenu">

        <button mat-menu-item>
          <span>Delete note</span>
        </button>

      </mat-menu>
</div>