<div class="container">

    <div class="container-leftside">

        <div class="form-heading">
            <p class="logo">
                <span style="color:blue">F</span>
                <span style="color:red">u</span>
                <span style="color:yellow">n</span>
                <span style="color : blue">d</span>
                <span style="color:green">o</span>
                <span style="color:red">o</span>
            </p>

            <p class="title">
                Create your Fundoo Account
            </p>
        </div>
        
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <div class="form-first-last-name">              
                <mat-form-field appearance="outline" class="fname">
                  <mat-label>First name</mat-label>
                  <input matInput placeholder="" formControlName="firstName"/>
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <mat-error *ngIf="f.firstName.errors.required">First name is required</mat-error>
                </div>                 
                </mat-form-field>

                <mat-form-field appearance="outline" class="lname">
                  <mat-label>Last name</mat-label>
                  <input matInput placeholder="" formControlName="lastName"/>
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <mat-error *ngIf="f.lastName.errors.required">Last name is required</mat-error>
                </div>                 
                </mat-form-field>
            </div>

            <div>             
                <mat-form-field appearance="outline" class="email-field">
                  <mat-label>Username</mat-label>
                  <input matInput placeholder="" formControlName="email"/>
                  <mat-hint class="hint">You can use letters, numbers & periods</mat-hint>
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <mat-error *ngIf="f.email.errors.required">Email is required</mat-error>
                </div>                
                </mat-form-field>             
            </div>

            <div>
                  <mat-form-field appearance="outline" class="password">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="" [type]="show ? 'text' : 'password'" formControlName="password"/>
                    <mat-hint class="hint-password">Use characters, letters, numbers</mat-hint>                   
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
                    </div>                    
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="confirm-password">
                    <mat-label>Confirm</mat-label>
                    <input matInput placeholder="" [type]="show ? 'text' : 'password'" formControlName="confirmPassword"/>
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                      <mat-error *ngIf="f.confirmPassword.errors.required">Confirm password should match password</mat-error>
                    </div>                  
                  </mat-form-field>                  
                  
              </div>

              <div>
                <section>
                    <mat-checkbox class="example-margin" (click)="password()">Show password</mat-checkbox>                    
                  </section>
              </div>

              <div>        
                <button mat-button class="sign-in-button" routerLink="/login"><strong>Sign in instead</strong></button>                
                <button mat-raised-button class="next-button" (click)="onSubmit()">Next</button>
              </div>

        </form>
    </div>

    <div class="container-rightside">
        <img class="logo-image" src="assets/account.svg" alt="">
        <p class="text-below-image">One account. All of Fundoo working for you.</p>
    </div>

</div>