<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

    <mat-toolbar color="" class="example-toolbar">

      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <img src="../../../assets/keep-logo.png" alt="">

      <h1 class="example-app-name">Fundoo</h1>

    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

        <mat-nav-list (mouseover)="isExpandable=true" (mouseleave)="isExpandable=false">

          <div class="navlist active" (mouseover)="isExpandable=true" fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="20px" mat-list-item routerLink="/home">
            <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
              <mat-icon>lightbulb</mat-icon>
            </button>
            <span class="nav-icon-name" *ngIf="isExpandable">Notes</span>
          </div>
          <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
        </mat-nav-list>

        <mat-nav-list (mouseover)="isExpandable=true" (mouseleave)="isExpandable=false">

          <div class="navlist" (mouseover)="isExpandable=true" fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="20px" mat-list-item routerLink="home/notes">
            <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
              <mat-icon>notifications_none</mat-icon>
            </button>
            <span class="nav-icon-name" *ngIf="isExpandable">Reminder</span>
          </div>

          <div class="navlist" (mouseover)="isExpandable=true" fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="20px" mat-list-item routerLink="/home">
            <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
              <mat-icon>edit</mat-icon>
            </button>
            <span class="nav-icon-name" *ngIf="isExpandable">Edit Labels</span>
          </div>

          <div class="navlist" (mouseover)="isExpandable=true" fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="20px" mat-list-item routerLink="/home">
            <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
              <mat-icon>archive</mat-icon>
            </button>
            <span class="nav-icon-name" *ngIf="isExpandable">Archive</span>
          </div>

          <div class="navlist" (mouseover)="isExpandable=true" fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="20px" mat-list-item routerLink="/home">
            <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
              <mat-icon>delete</mat-icon>
            </button>
            <span class="nav-icon-name" *ngIf="isExpandable">Trash</span>
          </div>
        
        </mat-nav-list>

      </mat-sidenav>
  
      <mat-sidenav-content>
        <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
        <router-outlet></router-outlet>
      </mat-sidenav-content>

    </mat-sidenav-container>

  </div>
