<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar color="" class="example-toolbar">

    <button mat-icon-button (click)="snav.toggle()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>

    <img class="logo-image" src="../../../assets/keep-logo.png" alt="">

    <h1 class="example-app-name">Fundoo</h1>

    <div class="search-container" fxLayout="row" fxLayoutAlign="start center">
      <div class="search-inner-container" fxLayoutAlign="center center">
        <button class="search-button">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <input class="search-input" type="text" placeholder="Search">
    </div>

    <div class="profile" fxFlex=100 fxLayout="row" fxLayoutAlign="end center">
      <div matTooltip="Refresh" class="container" fxLayoutAlign="center center">
        <button class="upper-button">
          <img src="../../../assets/refresh_black_24dp.svg" alt="">
        </button>
      </div>
      <div matTooltip=" List View" class="container" fxLayoutAlign="center center">
        <button class="upper-button">
          <img src="../../../assets/dns_black_24dp.svg" alt="">
        </button>
      </div>
      <div matTooltip="Settings" class="container" fxLayoutAlign="center center">
        <button class="upper-button">
          <img src="../../../assets/settings_black_24dp.svg" alt="">
        </button>
      </div>
      <div matTooltip="Account" mat-card-avatar class="image"><img class="img-class"
          src="../../../assets/Ellipse -5.png" alt=""></div>
    </div>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">

      <mat-nav-list (mouseover)="isExpandable=true" (mouseleave)="isExpandable=false">

        <div class="navlist active" (mouseover)="isExpandable=true" fxLayout="row" fxLayoutAlign="start center"
          fxLayoutGap="20px" mat-list-item>
          <button class="nav-button btnPosition" mat-icon-button (mouseover)="isExpandable=true"
            routerLink="/Dashboard">
            <img class="side-icons" src="../../../assets/lightbulb_black_24dp.svg" alt="">
          </button>
          <span class="nav-icon-name" *ngIf="isExpandable">Notes</span>
        </div>

        <div class="navlist" (mouseover)="isExpandable=true" fxLayout="row" fxLayoutAlign="start center"
          fxLayoutGap="20px" mat-list-item>
          <button class="nav-button btnPosition" mat-icon-button (mouseover)="isExpandable=true">
            <img class="side-icons" src="../../../assets/notifications_black_24dp.svg" alt="">
          </button>
          <span class="nav-icon-name" *ngIf="isExpandable">Reminder</span>
        </div>

        <div class="navlist" (mouseover)="isExpandable=true" fxLayout="row" fxLayoutAlign="start center"
          fxLayoutGap="20px" mat-list-item>
          <button class="nav-button btnPosition" mat-icon-button (mouseover)="isExpandable=true">
            <img class="side-icons" src="../../../assets/edit_black_24dp.svg" alt="">
          </button>
          <span class="nav-icon-name" *ngIf="isExpandable">Edit Labels</span>
        </div>

        <div class="navlist" (mouseover)="isExpandable=true" fxLayout="row" fxLayoutAlign="start center"
          fxLayoutGap="20px" mat-list-item>
          <button class="nav-button btnPosition" mat-icon-button (mouseover)="isExpandable=true"
            routerLink="/Dashboard/archive">
            <img class="side-icons" src="../../../assets/archive_black_24dp.svg" alt="">
          </button>
          <span class="nav-icon-name" *ngIf="isExpandable">Archive</span>
        </div>

        <div class="navlist" (mouseover)="isExpandable=true" fxLayout="row" fxLayoutAlign="start center"
          fxLayoutGap="20px" mat-list-item>
          <button class="nav-button btnPosition" mat-icon-button (mouseover)="isExpandable=true"
            routerLink="/Dashboard/trash">
            <img class="side-icons" src="../../../assets/delete.svg" alt="">
          </button>
          <span class="nav-icon-name" *ngIf="isExpandable">Trash</span>
        </div>

      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>