.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .nav-icon-name {
    padding-right: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style:initial;
  }

  .navlist:hover {
     align-items: center;
     background-color:#FEEFC3;
     border-radius: 0 20px 20px 0;
     padding: 8px;
   }

   .navlist:active {
    background-color: rgba(236, 222, 96, 0.507);
  } 

  .btnPosition {
    margin-left: 10px;
  }

  .menuBtn , .nav-button{
    transform: all 3s ease;
  }

  .search-container{
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.164);
    margin-left: 85px;
  }

  input{
    width: 615px;
    border: none;
  }

  .search-input{
    padding: 11px 0px;
    margin-right: 57px;
  }

  .search-button{
    margin: 3px;
    padding: 8px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #FFFFFF;
  }

  .upper-button{
    padding: 8px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border: none;
    background-color:#FFFFFF;
    opacity: 0.6;
  }

  mat-toolbar, mat-sidenav-content{
    background-color:#FFFFFF;
  }

  .image{
    margin-left: 45px;
  }

  .img-class{
    height: 32px;
    width: 32px;
    padding: 3px;
  }

.side-icons{
  background-color: #FFFFFF;
  border: none;
}

.nav-button{
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border-radius: 50px;
  border: none;
  opacity: 0.7;
}