<div class="container">
    
    <div>
        <p class="logo">
            <span style="color:blue">F</span>
            <span style="color:red">u</span>
            <span style="color:yellow">n</span>
            <span style="color : blue">d</span>
            <span style="color:green">o</span>
            <span style="color:red">o</span>
        </p>

        <p class="title">
            Account recovery
        </p>

        <p class="recover-account">
            Recover your Fundoo Account
        </p>

        <form [formGroup]="forgetpasswordForm" (ngSubmit)="onSubmit()">

            <div>             
                <mat-form-field appearance="outline" class="form-field">
                  <mat-label>Email or phone</mat-label>
                  <input matInput placeholder="" formControlName = "email"/>
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>                 
                </mat-form-field>             
            </div>

            <div class="buttons">
                <button mat-button class="forget-email-button"><strong>Forget email?</strong></button>
                <button mat-raised-button class="next-button">Next</button>                
            </div>           

        </form>
    </div>
</div>
