.take-note-container {
    width: 598px;
    // height: 46px;
    margin: auto;
    border-radius: 10px;
    cursor: text;
    box-shadow: rgba(0, 0, 0, 0.178) 0px 5px 10px;
    margin-top: 30px;
  }

  .form-button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    padding-top: 4px;
    border: none;
    background-color: transparent;
  }

  .pin-button {
    padding-top: 7px;
    padding-left: 5px;
  }

  input, p {
  width: 90%;
  height: 30px;
  border: none;
  padding: 1%;
  background-color: #FFFFFF;
}

input{
  outline: none;
  border-radius: 10px;
}

.note-title, .note-body {
  padding: 1%;
}

.note-work {
  padding-top: 10px;
}

p{
  margin: 5px;
  height: 20px;
}

.close-button{
  border:  none;
  margin-left: 300px;
}
                                                                                                                                                                                                                                                                                                                                                