<div class="take-note-container" *ngIf="!popup" (click)="popup = !popup" fxLayout="row"
  fxLayoutAlign="space-between center">
  <p>
    Take a note...
  </p>
</div>


<form [formGroup]="noteForm" *ngIf="popup" class="take-note-container">

  <div class="note-title" fxLayout="row" fxLayoutAlign="space-between center">
    <input *ngIf="popup" type="text" placeholder="Title" formControlName="title" />

    <div class="container" fxLayoutAlign="center center">
      <mat-icon class="form-button pin-button">push_pin</mat-icon>
    </div>
  </div>

  <div class="note-body">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <input type="text" placeholder="Take a note..." formControlName="body">
    </div>


    <div class="note-work" fxLayout="row">
      <div class="container" fxLayout="row">
        <app-icons></app-icons>
      </div>

      <div fxLayout="row">
        <button class="close-button" mat-button (click)="close()">Close</button>
      </div>
    </div>
  </div>
</form>