@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.logo, .title{
    font-size: 24px;
    text-align: center;
}

.logo{
    padding-top: 40px;
}

.title{
    padding-top: 15px;
}

.next-button{
    margin-left: 190px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background-color: #1a73e8;
    border-radius: 5px;
    padding: 10px 5px;
    min-width: 80px;
    border: 1px solid #1a73e8;
}

.create-account-button{
    font-size: 14px;
    min-width: 120px;
    text-align: center;
    color:#1a73e8;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    margin-left: 30px;
}

.forget-email-button{
    font-size: 14px;
    min-width: 120px;
    text-align: center;
    color:#1a73e8;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    margin-left: 25px;
}

.next-button, .create-account-button{
    margin-top: 100px;
    margin-bottom: 70px;
}

.container{
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 450px;
    margin: 100px auto;
}

.use-account{
    font-size: 16px;
    text-align: center;
    color: #202124;
}

.form-field{
    width: 380px;
    margin: 0px 35px;
}

.use-account{
    margin-bottom: 30px;
}