<div class="container">
    
    <div>
        <p class="logo">
            <span style="color:blue">F</span>
            <span style="color:red">u</span>
            <span style="color:yellow">n</span>
            <span style="color : blue">d</span>
            <span style="color:green">o</span>
            <span style="color:red">o</span>
        </p>

        <p class="title">
            Sign in
        </p>

        <p class="use-account">
            Use your Fundoo Account
        </p>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div>             
                <mat-form-field appearance="outline" class="form-field">
                  <mat-label>Email or phone</mat-label>
                  <input matInput placeholder="" formControlName = "email"/>
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>                 
                </mat-form-field>             
            </div>

            <div>             
                <mat-form-field appearance="outline" class="form-field">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="" formControlName = "password"/>
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>                 
                </mat-form-field>             
            </div>

            <div>
                <button mat-button class="forget-password-button" routerLink="/forget"><strong>Forget password?</strong></button>                
            </div>

            <div>        
                <button mat-button class="create-account-button" routerLink="/register"><strong>Create account</strong></button>                
                <button mat-raised-button class="next-button" (click)="onSubmit()">Next</button>
            </div>

        </form>
    </div>
</div>
