<p>collaborator works!</p>
<div class="collaborator">
    <mat-card>
        <mat-card-header>
            <div class="collab">Collaborators</div>
        </mat-card-header>
        <hr>
        <br>
        <mat-card-content>
            <div fxLayout="row" fxLayoutGap="20px">
                <mat-card-content fxFlex class="content">
                    Mayur Wankhade (Owner)<br>
                </mat-card-content>
            </div>

            <div class="contentNew">
                <mat-card-content style="color:black" fxFlex></mat-card-content>
            </div>




            <div class="width" fxLayout="row" fxLayoutGap="10px">

                <div fxFlex="2%"></div>
                <div fxFlex="78%" fxLayout="column" fxLayoutAlign="start start" class="inputDiv">
                    <span class="contentNew1" style="color:black"></span>
                </div>
                <div fxFlex="10%" fxLayoutAlign="end center">
                    <i class="material-icons icon">cancel</i>
                </div>
            </div>
            <div class="person" fxLayout="row"><button mat-mini-fab disabled>
                    <mat-icon>person_add</mat-icon>
                </button>
                <input class="place" placeholder="Enter email">

            </div>



        </mat-card-content>

        <mat-card-footer class="collabcolor">
            <div class="buttons">
                <button mat-button>Cancel</button>
                <button mat-button>Save</button>
            </div>
        </mat-card-footer>

    </mat-card>

</div>