<div class="note-container" *ngFor="let note of notes | searchBar: wordToSearch">
  <mat-card class="card" ng-class="" [ngStyle]="{'background': '#'.concat(note.color) }">
    <div (click)="openDialog(note)" class="mainBlock">
      <div id="title" contenteditable="false" aria-multiline="true" role="textbox" dir="ltr">
        <strong>{{note.title}}</strong>
      </div>
      <div id="writtenNote" contenteditable="false" aria-multiline="true" role="textbox" dir="ltr">
        {{note.writtenNote}}</div>
    </div>
    <span class="icon-component">
      <app-icons [note]="note"></app-icons>
    </span>
  </mat-card>
</div>