.example-card {
    max-width: 238px;
    // height:auto;
  }

  button {
    opacity: 80%;
    border-color: transparent;
    background-color: transparent;
  }
  button:hover {
    background-color: #e3e6e7;
    border-radius: 50%;
  }

  .paragraph{
      word-wrap: break-word;      
  }
  
//   .example-header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
//   }