<div class="container">
    
    <div>
        <p class="logo">
            <span style="color:blue">F</span>
            <span style="color:red">u</span>
            <span style="color:yellow">n</span>
            <span style="color : blue">d</span>
            <span style="color:green">o</span>
            <span style="color:red">o</span>
        </p>

        <p class="title">
            Reset password
        </p>

        <p class="use-account">
            Reset your Fundoo password
        </p>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

            <div>             
                <mat-form-field appearance="outline" class="form-field">
                  <mat-label>New password</mat-label>
                  <input matInput placeholder="" [type]="show ? 'text' : 'password'" formControlName="password"/>
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <mat-error *ngIf="f.password.errors.required">New password is required</mat-error>
                </div>                  
                </mat-form-field>             
            </div>

            <div>             
                <mat-form-field appearance="outline" class="form-field">
                  <mat-label>Confirm</mat-label>
                  <input matInput placeholder="" [type]="show ? 'text' : 'password'" formControlName="confirmPassword"/>
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <mat-error *ngIf="f.confirmPassword.errors.required">Confirm password is required</mat-error>
                </div>                 
                </mat-form-field>             
            </div>

            <div>
                <mat-checkbox class="show-password-button" (click)="password()">Show password</mat-checkbox>                
            </div>

            <div class="blue-buttons">        
                <button mat-button class="create-account-button" routerLink="/register"><strong>Create account</strong></button>                
                <button mat-raised-button class="reset-button">Reset</button>
            </div>

        </form>
    </div>
</div>
